.App {
  text-align: center;
}
.button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* justify-content: space-around; */
  gap: 30px;
  margin-top: 20px;
}
.button-container button {
  flex: 1;
  min-width: 100px;
}

.button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s;
}
.button.back {
  margin-top: 10px;
  background-color: #75818e;
}

.button:hover {
  background-color: #0056b3;
}
.button.back:hover {
  background-color: #5a6067;
}

.nav-link {
  text-decoration: none;
}

.page-container {
  text-align: center;
  margin-top: 100px;
}

.success-message {
  font-size: 24px;
  color: #4caf50;
}
.error-container {
  text-align: center;
  margin-top: 100px;
}
.error-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.error-message {
  font-size: 24px;
  color: #f22b2b;
}
/* Transcript */
.transcript-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.transcript {
  font-family: Arial, sans-serif;
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
  width: 800px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.student-info {
  margin-bottom: 20px;
}

table.marks-table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ddd;
}

table.marks-table th,
table.marks-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

table.marks-table th {
  background-color: #f2f2f2;
}

table.marks-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

table.marks-table tr:hover {
  background-color: #ddd;
}

/* DETSILS */

.details-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.profile {
  width: 120px;
  height: 120px;
  background-color: #3498db47;
  border-radius: 50%;
}

.student-name {
  font-size: 24px;
  margin-top: 10px;
}

.student-info {
  background-color: #ecf0f1;
  border: 1px solid #dcdcdc;
  border-radius: 5px;
  padding: 10px;
  margin-top: 20px;
}

.info-row {
  margin-bottom: 8px;
}
.student-avatar {
  width: 120px;
}
.student-search-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}
.search-btn {
  background-color: #007bff;
  color: white;
  font-weight: 600;
  border-radius: 5px;
}
.home-back-btn {
  padding-left: 150px;
}

/* ADD MARKS */

.add-mark-container {
  text-align: center;
  padding: 20px;
}

.add-mark-heading {
  font-size: 24px;
  margin-bottom: 20px;
}

.add-mark-form {
  display: flex;
  flex-direction: column;

  max-width: 300px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f8f8f8;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.add-mark-label {
  display: flex;
  flex-direction: column;
  height: 60px;
  margin-bottom: 10px;
  font-weight: bold;
}

.add-mark-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-right: 10px;
  box-sizing: border-box;
}

.add-mark-button {
  width: 100px;
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 3px;
  cursor: pointer;
  margin-top: 20px;
}

.add-mark-button:hover {
  background-color: #0056b3;
}

.button.mark-back-btn {
  margin-top: 10px;
  background-color: #75818e;
}

.button.mark-back-btn:hover {
  background-color: #5a6067;
}
