.delete-mark-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.delete-mark-form {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
  background-color: #f9f9f9;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  gap: 15px;
  width: 40vh;
}
.delete-subject-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.delete-form-group {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0;
  align-items: center;
}
.delete-add-mark-input {
  height: 40px;
  width: 200px;
  margin: 0;
}
.delete-add-mark-label {
  display: flex;
  flex-direction: row;
  margin: 0;
  align-items: center;
  gap: 5px;
}

.delete-btn-container {
  display: flex;
  justify-content: center;
}
.button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.button:hover {
  background-color: #0056b3;
}
